<h2>Not Detailed Stuff</h2>
<p>
	<a href="obc_stats">Latest stats</a>
</p>

<h2>Detailed Listings</h2>
<p>
	<a href="transfer_events">All file transfers</a><br>
	<a href="backlog_events">All backlog events</a>
</p>

<a href="/logout">Log out</a>
